@model List<avSVAW.Models.ZoneForm>
@{
    ViewBag.Title = Resources.Language.Zone;
    ViewBag.SubTitle = Resources.Language.List + " " + ViewBag.Title;
}
@section header{
    @ViewBag.SubTitle
}

@*@Styles.Render("~/AdminLTE/plugins/datatables/css")*@

<div class="row">
    <div class="col-xs-12">

        <div class="box">
            <div class="box-header">
                <div style="float:right;">
                    @*                        @Html.ActionLink("Add New Record", "Insert", null, new { @class = "btn btn-success" })*@
                    <a href="@Url.Action("Create")" class="btn btn-success">
                        <i class="fa fa-file-o"></i>&nbsp; @Resources.Language.Create &nbsp;
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table id="EventDeflist" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Resources.Language.Name</th>
                            <th>@Resources.Language.Description</th>
                            <th>@Resources.Language.Factory</th>
                            <th style="width: 20%">@Resources.Language.Action</th>
                        </tr>
                    </thead>
                    @if (Model.Count > 0)
                    {
                        var i = 1;
                        <tbody>
                            @foreach (var f in Model)
                            {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @f.Name
                                </td>
                                <td>@f.Description </td>
                                <td>@f.FactoryName </td>
                                <td>
                                    <a href="/Zone/Edit/@f.Id" class="btn btn-primary  btn-xs">
                                        <i class="fa fa-pencil"></i>&nbsp; @Resources.Language.Edit &nbsp;&nbsp;
                                    </a>
                                    &nbsp;
                                    <a href="/Zone/Delete/@f.Id" class="btn btn-danger  btn-xs" onclick="return confirm('@Resources.Language.DeleteConfirm')">
                                        <i class="fa fa-trash"></i> &nbsp;@Resources.Language.Delete&nbsp;&nbsp;
                                    </a>
                                </td>
                            </tr>
                                i = i + 1;
                            }
                        </tbody>
                    }

                </table>
            </div>
        </div>

    </div>
</div>
@*@section Scripts {
        @Scripts.Render("~/AdminLTE/plugins/datatables/js")
        @Scripts.Render("~/Scripts/Tables/Data")
    }*@
