@{
    ViewBag.Title = Resources.Language.StopWorkingPlan;
    ViewBag.SubTitle = Resources.Language.Edit + " " + ViewBag.Title;
}
@section header{
    @ViewBag.SubTitle
}
@section Styles{
    <style>

        /* Create a custom checkbox */
        .av-checkbox {
            height: 18px;
            width: 18px;
            /*background-color: #eee;*/
        }

        .av-checkbox-all {
            height: 18px;
            width: 18px;
            background-color: bisque;
        }
        /* The container */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: bisque;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .divLoading img{
            height: 80px;
            margin-top: -22px;
        }
    </style>
}

<script>
  
        function SaveStopWorkingPlan() {

            //var strShifts = "";
            //$("input[id^='Shift_']").each(function () {
            //    var _value = this.checked;
            //    if (_value) {
            //        var _id = $(this).attr('id').split('_')[1];
            //        strShifts += _id +';';
            //    }
            //});

            var _FromHour = $("#FromHour").val();
            var _FromMinute = $("#FromMinute").val();
            var _ToHour = $("#ToHour").val();
            var _ToMinute = $("#ToMinute").val();

            if (_FromHour == "" || _FromMinute == "" || _ToHour == "" || _ToMinute == "") {
                alert("Phải nhập đầy đủ thời gian dừng máy!");
                return;
            }

            var strDays = "";
            $("input[id^='Day_']").each(function () {
                var _value = this.checked;
                if (_value) {
                    var _id = $(this).attr('id').split('_')[1];
                    strDays += _id +';';
                }
            });
           var strNodes = "";
            $("input[id^='Node_']").each(function () {
                var _value = this.checked;
                if (_value) {
                    var _id = $(this).attr('id').split('_')[1];
                    strNodes += _id +';';
                }
            });

            if (strDays == '' || strNodes == '') {
                alert("Phải lựa chọn thông tin ngày làm việc và áp dụng cho máy nào!");
                return;
            }
            //alert(strRet);
            var _id = $("#Id").val();
            var _year = $("#Year").val();
            var _month = $("#Month").val();

            if (_year == '' || _month == '') {
                alert("Phải nhập Tháng/Năm làm việc!");
                return;
            }

                        
            $("#Save").attr("disabled", true);


            $.ajax({
                url: "/StopWorkingPlan/InserOrUpdateWorkingPlan",
                data: {
                    Id: _id,
                    Year: _year,
                    Month: _month,
                    FromHour: _FromHour,
                    ToHour: _ToHour,
                    FromMinute: _FromMinute,
                    ToMinute: _ToMinute,
                    //Shifts: strShifts,
                    Days: strDays,
                    Nodes: strNodes
                },
                type: "POST",
                beforeSend: function () {
                    $('#loading').show();
                },
                success: function (result) {
                    window.location.replace("/StopWorkingPlan/Index");
                },
                error: function (errormessage) {
                    console.log("error", errormessage);
                    alert("Có lỗi");
                }
            }).done(function () {
                $('#loading').hide();
            });


        }



    $(document).ready(function () {
                    //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            })

            //Check ngày
            $("#CheckDayAll").on('ifChanged', function (event) {
                var _value = this.checked;
                //alert(_value);
                $("input[id^='Day_']").each(function () {
                    if (_value) {
                        $(this).iCheck('check');
                    }
                    else {
                        $(this).iCheck('uncheck');
                    }
                });

            });

            //Check máy
            $("#NodeType_2").add($("#NodeType_3")).add($("#NodeType_4")).add($("#NodeType_5")).add($("#NodeType_6")).on('ifChanged', function (event) {
                var _value = this.checked;
                //alert(_value);
                $("input[nodetype^=" + this.id + "]").each(function () {
                    if (_value) {
                        $(this).iCheck('check');
                    }
                    else {
                        $(this).iCheck('uncheck');
                    }
                });
            });


            $("#CustomerId").select2({
            });
            $("#ProviderId").select2({
            });
        })
</script>

<div class="row">
    <div class="col-xs-12">

        <div class="box">

            @using (Html.BeginForm("Edit", "StopWorkingPlan", FormMethod.Post, new { @class = "form-horizontal form-label-left", @id = "frmValidate", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

            <div class="box-body">

                <input id="Id" name="Id" type="hidden" value="@ViewBag.WorkingId" class="form-control"></input>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Resources.Language.Year</label>
                    </div>
                    <div class="col-sm-2">
                        <select id="Year" class="form-control col-md-7 col-xs-12">
                            @{
                                var strSelect = "";

                                for (int i = 0; i < ViewBag.Years.Count; i++)
                                {
                                    if (ViewBag.Months[i].Value == ViewBag.Year.ToString())
                                    {
                                        strSelect = " selected ";
                                    }
                                    else
                                    {
                                        strSelect = "";
                                    }

                                    <option value="@ViewBag.Years[i].Value" @strSelect>@ViewBag.Years[i].Text</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">@Resources.Language.Month</label>
                    </div>
                    <div class="col-sm-2">
                        <select id="Month" class="form-control col-md-7 col-xs-12">
                            @{


                                for (int i = 1; i < ViewBag.Months.Count; i++)
                                {
                                    if (ViewBag.Months[i].Value == ViewBag.Month.ToString())
                                    {
                                        strSelect = " selected ";
                                    }
                                    else
                                    {
                                        strSelect = "";
                                    }
                                    <option value="@ViewBag.Months[i].Value" @strSelect>@ViewBag.Months[i].Text</option>
                                }


                            }

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label required">@Resources.Language.Hour @Resources.Language.Start</label>
                        @*@Html.LabelFor(model => model.FromHour, Resources.Language.Start, new { @class = "control-label required" })*@
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <input type="text" class="form-control col-md-7 col-xs-12" id="FromHour" name= ="FromHour" value="@ViewBag.FromHour" />
                        @*@Html.TextBoxFor(model => model.FromHour, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })*@
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <input type="text" class="form-control col-md-7 col-xs-12" id="FromMinute" name= ="FromMinute"  value="@ViewBag.FromMinute" />
                        @*@Html.TextBoxFor(model => model.FromMinute, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })*@
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label required">@Resources.Language.Hour @Resources.Language.Finish</label>
                        @*@Html.LabelFor(model => model.ToHour, Resources.Language.Finish, new { @class = "control-label required" })*@
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <input type="text" class="form-control col-md-7 col-xs-12" id="ToHour" name= ="ToHour"  value="@ViewBag.ToHour" />
                        @*                        @Html.TextBoxFor(model => model.ToHour, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })*@
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <input type="text" class="form-control col-md-7 col-xs-12" id="ToMinute" name= ="ToMinute"  value="@ViewBag.ToMinute" />
                        @*                      @Html.TextBoxFor(model => model.ToMinute, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })*@
                    </div>
                </div>


                @*<div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">@Resources.Language.WorkingShift</label>
            </div>
            <div class="col-sm-10">
                @foreach (var shift in ViewBag.Shifts)
                {
                    if (ViewBag.WorkingPlanShifs.Contains("; " + shift.Id + ";"))
                    {
                        strSelect = " checked='checked' ";
                    }
                    else
                    {
                        strSelect = "";
                    }
                    <div class="col-sm-3">
                        <input type="checkbox" @strSelect class="av-checkbox" id="Shift_@shift.Id" />
                        <span>@shift.Name (@shift.TotalMinute p) [@shift.StartHour:@shift.StartMinute - @shift.FinishHour:@shift.FinishMinute]</span>
                    </div>
                }
            </div>
        </div>*@

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Resources.Language.Day</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <div class="col-sm-1">
                                <input type="checkbox" id="CheckDayAll" class="minimal">
                            </div>

                            <div class="col-sm-11">
                                @for (var i = 1; i <= ViewBag.Days; i++)
                                {
                                    if (ViewBag.WorkingPlanDays.Contains("; " + i.ToString() + ";"))
                                    {
                                        strSelect = " checked='checked' ";
                                    }
                                    else
                                    {
                                        strSelect = "";
                                    }
                                    <div class="col-sm-1">
                                        <input type="checkbox" @strSelect class="av-checkbox" id="Day_@i" />
                                        <span>@i</span>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Resources.Language.ApplyTo</label>
                    </div>
                    @{ var NodeType = 0;}
                    <div class="col-sm-10">
                        @foreach (var nodeType in ViewBag.NodeTypes)
                        {
                            <div class="form-group">
                                <div class="col-sm-1">
                                    <input type="checkbox" id="NodeType_@nodeType.Id" class="minimal">
                                    <br /><b>@nodeType.Name</b>

                                </div>
                                <div class="col-sm-11">
                                    @foreach (var node in ViewBag.Nodes)
                                    {
                                        if (ViewBag.WorkingPlanNodes.Contains("; " + node.Id.ToString() + ";"))
                                        {
                                            strSelect = " checked='checked' ";
                                        }
                                        else
                                        {
                                            strSelect = "";
                                        }

                                        if (node.NodeTypeId == nodeType.Id)
                                        {
                                            <div class="col-sm-1">
                                                <input type="checkbox" class="av-checkbox" @strSelect id="Node_@node.Id" nodetype="NodeType_@nodeType.Id" />
                                                <span>@node.Name</span>
                                            </div>
                                        }

                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @*<div class="form-group">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.StartHour, Resources.Language.Start, new { @class = "control-label required" })
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.StartHour, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.StartMinute, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.FinishHour, Resources.Language.Finish, new { @class = "control-label required" })
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.FinishHour, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.FinishMinute, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })
            </div>
        </div>*@

                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-sm-1">
                        <button type="button" id="Save" onclick="SaveStopWorkingPlan()" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;&nbsp;@Resources.Language.Save&nbsp;</button>
                    </div>
                    @*<button type="button" onclick="SaveWorkingPlan()" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;&nbsp;Ghi lại&nbsp;</button>*@
                    <a href="@Url.Action("Index")" class="btn btn-info pull-right">
                        <i class="fa fa-mail-reply"></i>&nbsp;&nbsp; @Resources.Language.Back &nbsp;
                    </a>
                </div>
                <!-- /.box-footer -->
            </div>
            }

        </div>

    </div>
</div>
