
@model List<avSVAW.Models.OperationForm>

@{
    /**/
    ViewBag.Title = Resources.Language.Report + " " + Resources.Language.Stop;
    DateTime _current = DateTime.Now;
    int _month = _current.Month, _year = _current.Year;

}
@section header{
    @ViewBag.Title
}

<style>
    .working-percent {
        float:left;
        background-color: forestgreen;
        color:white;
        text-align:center;
    }
    .un-working-percent {
        float:right;
        background-color: gray;
    }

</style>

<!--Tiêu chí tìm kiếm-->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                @using (Html.BeginForm("StopDetailReportByWorkShif", "Report", FormMethod.Get, new { @class = "form-horizontal form-label-left" }))
                {
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">Ngày</label>
                    </div>
                    <div class="col-sm-2">
                        <div id="divFromDate" class="input-group input-append">
                            <input id="SelectDate" name="SelectDate" data-format="yyyy/MM/dd" value="@ViewBag.ChooseDate" type="text" class="form-control col-md-5 col-xs-12"></input>
                            <div class="input-group-addon">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">@Resources.Language.Node</label>
                    </div>
                    <div class="col-sm-2">
                        <select id="NodeId" name="NodeId" class="form-control col-md-7 col-xs-12">
                            @{
                                var strSelect = "";

                                for (var iType = 0; iType < ViewBag.Nodes.Count; iType++)
                                {
                                    if (ViewBag.Nodes[iType].Value == ViewBag.NodeId.ToString())
                                    {
                                        strSelect = " selected ";
                                    }
                                    else
                                    {
                                        strSelect = "";
                                    }
                                    <option value="@ViewBag.Nodes[iType].Value" @strSelect>@ViewBag.Nodes[iType].Text</option>
                                }


                            }

                        </select>
                    </div>
                    <div class="col-sm-1">
                        <label class="control-label">@Resources.Language.WorkingShift</label>
                    </div>
                    <div class="col-sm-2">
                        <select id="WorkShift" name="WorkShift" class="form-control col-md-7 col-xs-12">
                            @{
                                var strSelectWS = "";

                                for (var iType = 0; iType < ViewBag.WorkShifts.Count; iType++)
                                {
                                    if (ViewBag.WorkShifts[iType].Value == ViewBag.WorkShift.ToString())
                                    {
                                        strSelectWS = " selected ";
                                    }
                                    else
                                    {
                                        strSelectWS = "";
                                    }
                                    <option value="@ViewBag.WorkShifts[iType].Value" @strSelectWS>@ViewBag.WorkShifts[iType].Text</option>
                                }


                            }

                        </select>
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success" id="ViewReport"><i class="fa fa-search"></i>&nbsp;@Resources.Language.ViewReport</button>
                            &nbsp;
                            &nbsp;
                            <button type="button" onclick="ExportExcel();" class="btn btn-primary"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;@Resources.Language.ExportExcel</button>
                            &nbsp;
                            &nbsp;
                            <a href="/Report/StopReportByTypeAndWorkShift?SelectDate=@ViewBag.SelectDate&NodeType=@ViewBag.NodeType&WorkShift=@ViewBag.WorkShift&isReport=0">
                                <button type="button" class="btn btn-default"><i class="fa fa-backward"></i>&nbsp;&nbsp;@Resources.Language.Back</button>
                            </a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-body ">
                <!-- start project list -->
                <div class="col-md-12 col-sm-12 col-xs-12">

                    @{
                        int StopCount = 0, iCount = 1;
                        double TotalStopTime = 0;
                    }
                    <table id="EFF" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Resources.Language.Node</th>
                                <th>@Resources.Language.NodeType</th>
                                <th>@Resources.Language.Event</th>
                                <th>@Resources.Language.Start</th>
                                <th>@Resources.Language.Finish</th>
                                <th>@Resources.Language.TotalDuration (@Resources.Language.Minute)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @iCount
                                </td>

                                <td>
                                    @item.NodeName
                                </td>

                                <td>
                                    @item.NodeTypeName
                                </td>

                                <td>
                                    @item.EventDefName
                                </td>

                                <td style="text-align:center">
                                    @item.StartTime
                                </td>


                                <td style="text-align:center">
                                    @item.FinishTime
                                </td>

                                <td style="text-align:right">
                                    @item.strDuration
                                </td>
                                @{
                                    iCount++;
                                }


                            </tr>
                            }
                        </tbody>
                    </table>

                    <div class="ln_solid"></div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @*<script src="~/assets/js/order.js"></script>*@
    <script type="text/javascript">
        function ExportExcel() {
            var url = '@Url.Action("StopDetailToExcel", "Report")';
            var _selectDate = $('#SelectDate').val();
            var _nodeid = $("#NodeId").val();
            var _workShift = $("#WorkShift").val();
            //?FromDate = 2019 % 2F05% 2F01& ToDate=2019 % 2F05% 2F09& Customer=3
            var ExcelURL = url + '?FromDate=' + _selectDate + '&ToDate=' + _selectDate + '&NodeId=' + _nodeid + '&WorkShift=' + _workShift;
            window.location.href = ExcelURL;
    };

        $(function () {
            $('#inventory').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': false,
                'autoWidth': false
            })
        })
        $(document).ready(function () {


            $('#divFromDate').datetimepicker({
                pickTime: false,
                minView: "month"
            });
            $('#divToDate').datetimepicker({
                pickTime: false
            });

            $('#NodeId').select2({
            });

        });
    </script>


}

